#### Editors
.idea
.vscode

#### Dependencies
node_modules
package-lock.json
yarn.lock
.next
.vercel

#### Misc
.DS_Store
Thumbs.db

#### Logs
*.log
.eslintcache
.npm
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
